<h1>Your Applications</h1>
<a mat-raised-button color="primary" routerLink="application/create">Create New</a>
<hr />

<div>
    <mat-table #table [dataSource]="dataSource">
        <mat-header-row *matHeaderRowDef="columnNames"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnNames;"></mat-row>

        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let application;">
                <i class="material-icons" routerLink="/application/edit/{{application.Id}}">edit</i>
                <i class="material-icons" routerLink="/application/delete{{application.Id}}">delete</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef="DateCreatedUtc">
            <mat-header-cell *matHeaderCellDef>Date Added</mat-header-cell>
            <mat-cell *matCellDef="let application;">{{Applications.DateCreatedUtc | date: 'fullDate}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ApplicationStatus">
            <mat-header-cell *matHeaderCellDef>Application Status</mat-header-cell>
            <mat-cell *matCellDef="let application;">{{Applications.ApplicationStatus}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="CompanyName">
                <mat-header-cell *matHeaderCellDef>Company Name</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{Applications.CompanyName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="PositionName">
                <mat-header-cell *matHeaderCellDef>Position Name</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{Applications.PositionName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="JobLink">
                <mat-header-cell *matHeaderCellDef>Job Link</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{Applications.JobLink}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="JobLocation">
                <mat-header-cell *matHeaderCellDef>Job Location</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{Applications.JobLocation}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Research">
                <mat-header-cell *matHeaderCellDef>Research</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{Applications.Research}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="Contacts">
                <mat-header-cell *matHeaderCellDef>Contacts</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{Applications.Contacts}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="SourceOfPosting">
                <mat-header-cell *matHeaderCellDef>Source of Posting</mat-header-cell>
                <mat-cell *matCellDef="let application;">{{application.SourceOfPosting}}</mat-cell>
        </ng-container>

        
            
        </ng-container>
    </mat-table>
</div>
