<h1>Your Cohorts</h1>
<a mat-raised-button color='primary' routerLink='/cohort/create'>Create New</a>
<hr />

<div >
    <mat-table #table [dataSource]='dataSource'>
        <mat-header-row *matHeaderRowDef='columnNames'></mat-header-row>
        <mat-row *matRowDef='let row; columns: columnNames;'></mat-row>

        <ng-container matColumnDef='Id'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef='let cohort'>
                <i class='material-icons' routerLink='/cohort/detail/{{cohort.Id}}'>library_books</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef='Course'>
            <mat-header-cell *matHeaderCellDef>Course</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>{{cohort.Course}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef='StartDateUtc'>
            <mat-header-cell *matHeaderCellDef>Date Added</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>{{cohort.StartDateUtc | date:'fullDate'}}</mat-cell>
        </ng-container> 

        <ng-container matColumnDef='EndDateUtc'>
            <mat-header-cell *matHeaderCellDef>Date Ending</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>{{cohort.EndDateUtc | date:'fullDate'}}</mat-cell>
        </ng-container> 

        <ng-container matColumnDef='FullTime'>
            <mat-header-cell *matHeaderCellDef>FullTime Course</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>{{cohort.FullTime}}</mat-cell>
        </ng-container> 

        <ng-container matColumnDef='buttons'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>
                <button mat-button class="nav-btn" color="primary" type="submit"><i class="material-icon" routerLink="/cohort/edit/{{cohort.Id}}">edit</i></button>
                    <button mat-button class="nav-btn" color="primary" type="submit"><i class="material-icon" routerLink="/cohort/delete/{{cohort.Id}}">delete</i></button>
            </mat-cell>
        </ng-container> 
    </mat-table>
</div>