<h1>Your Cohorts</h1>
<a mat-raised-button color='primary' routerLink='/cohort/create'>Create New</a>
<hr />

<div >
    <mat-table #table [dataSource]='dataSource'>
        <mat-header-row *matHeaderRowDef='columnNames'></mat-header-row>
        <mat-row *matRowDef='let row; columns: columnNames;'></mat-row>

        <ng-container matColumnDef='Id'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef='let cohort'>
                <i class='material-icons' routerLink='/cohort/details/{{cohort.Id}}'>Id Number</i>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef='Course'>
            <mat-header-cell *matHeaderCellDef>Course</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>{{cohort.Course}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef='S'>
            <mat-header-cell *matHeaderCellDef>FullTime</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>
                <span class='star-toggle' (click)='toggleStar(cohort); cohort.FullTime = !cohort.FullTime'>
                    <i class='material-icons' *ngIf='cohort.FullTime; else star_border'>star</i>
                    <ng-template #star_Border><i class='material-icons'>star_border</i></ng-template>
                </span>
            </mat-cell>
        </ng-container>

        <ng-container matColumnDef='StartDateUtc'>
            <mat-header-cell *matHeaderCellDef>Date Added</mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>{{note.StartDateUtc | date:'fullDate'}}</mat-cell>
        </ng-container> 

        <ng-container matColumnDef='buttons'>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef='let cohort;'>
                <i class="material-icon" routerLink="/cohort/edit/{{cohort.Id}}">edit</i>
                <i class="material-icon">delete</i>
            </mat-cell>
        </ng-container> 
    </mat-table>
</div>