<mat-toolbar class="header">
    <a href="https://elevenfifty.instructure.com/login/canvas"><img src="../../../assets/shield.png" style="height: 50px; width: 50px; padding: 5px;"></a>
    <span>AppTracker 150</span>
    <span class="flex-filler"></span>

    <button mat-raised-button class="nav-btn" routerLink="/index">Home</button>
    <button mat-raised-button class="nav-btn" (click)="DashBoard()">DashBoard</button>
    <div *ngIf="isLoggedIn; else elseBlock">
        <button mat-raised-button class="nav-btn" (click)="Logout()">Log Out</button>
    </div>
    <ng-template #elseBlock>
            <button mat-raised-button class="nav-btn" routerLink="/login">Login</button>
    </ng-template>
</mat-toolbar>
<div class="padding">
    
</div>