<mat-toolbar class="header">
    <a href="(https://elevenfifty.instructure.com/login/canvas)"><img src="../../../assets/shield.png" style="height: 50px; width: 50px; padding: 5px;"></a>
    <span>AppTracker 150</span>
    <span class="flex-filler"></span>

    <button mat-raised-button class="nav-btn" routerLink="/index">Home</button>
    <button mat-raised-button class="nav-btn" (click)="DashBoard()">DashBoard</button>

    <button mat-raised-button class="nav-btn" routerLink="/login">Login</button>
</mat-toolbar>
<div class="padding">
    
</div>