<h1>Details</h1>
<hr />

<div *ngIf="cohort">
    <div>
        <label>Id: </label>
        <span>{{cohort.Id}}</span>
    </div>
    <div>
        <label>Course: </label>
        <span>{{cohort.Course}}</span>
    </div>
    <div>
        <label> StatDateUtc: </label>
        <span>{{cohort.StatDateUtc}}</span>
    </div>
    <div>
        <label>EndDateUtc: </label>
        <span>{{cohort.EndDateUtc}}</span>
    </div>
    <div>
        <label>FullTime: </label>
        <span>{{cohort.FullTime}}</span>
    </div>

    <button mat-raised-button color="accent" routerLink="/cohort/edit/{{cohort.Id}}">Edit</button>
</div>

<button mat-raised-button color='primary' routerLink='/cohort'>Back to List</button>