<h1>Create a Profile</h1>
<hr />

<form (ngSubmit)="onSubmit()" [formGroup]="studentProfileForm">
    <div>
        <div>
            <input matInput formControlName="StudentId" type="StudentId" required />
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="First Name" formControlName="FirstName" type="FirstName" required /> 
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Last Name" formControlName="LastName" type="LastName" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
              <mat-label>Cohort</mat-label>
              <mat-select formControlName="CohortId">
                  <mat-option *ngFor="let cohort of cohorts;" [value]="cohort.Id" >{{cohort.Course}}, Starts: {{cohort.StartDateUtc | date: 'shortDate' }} </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Resume Link" formControlName="ResumeLink" type="ResumeLink" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="LinkedIn Profile" formControlName="LinkedInLink" type="LinkedInLink" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Portfolio Link" formControlName="PortfolioLink" type="PortfolioLink" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="GitHub Link" formControlName="GitHub" type="GitHub" required />
            </mat-form-field>
        </div>
    </div>
    <button mat-button class="nav-btn" color="primary" type="submit">Create Profile</button>
</form>

<a mat-button routerLink="../index">Back to Dashboard</a>