<h1>Details</h1>
<hr />

<div *ngIf="Application">
    <div>
        <label>Id: </label>
        <span>{{application.Id}}</span>
    </div>
    <div>
        <label>Student Id: </label>
        <span>{{application.StudentId}}</span>
    </div>
    <div>
            <label>Created At: </label>
            <span>{{application.CreatedUtc | date: 'fullDate'}}</span>
    </div>
    <div>
            <label>Last Modified: </label>
            <span>{{application.ModifiedUtc | date: 'fullDate'}}</span>
    </div>
    <div>
            <label>Application Status: </label>
            <span>{{application.ApplicationStatus}}</span>
    </div>
    <div>
            <label>Company Name: </label>
            <span>{{application.CompanyName}}</span>
    </div>
    <div>
            <label>Position Name: </label>
            <span>{{application.PositionName}}</span>
    </div>
    <div>
            <label>Job Link: </label>
            <span>{{application.JobLink}}</span>
    </div>
    <div>
            <label>Job Location: </label>
            <span>{{application.JobLocation}}</span>
    </div>
    <div>
            <label>Research: </label>
            <span>{{application.Researc}}</span>
    </div>
    <div>
            <label>Contact: </label>
            <span>{{application.Contact}}</span>
    </div>
    <div>
            <label>Source of Posting: </label>
            <span>{{application.SourceOfPosting}}</span>
    </div>

   <button mat-raised-button color="accent">Edit</button>
</div>

<button mat-raised-button color="primary" routerLink="/application">Back to List</button>
