<div *ngIf="studentProfile; else elseblock;">
    <div class="mat-headline">
        This is {{studentProfile.FirstName}} {{studentProfile.LastName}}'s dashboard!
    </div>
    <div *ngIf="cohort;" class="mat-subheading-2">
        Your Class: {{cohort.Course}} Starting on: {{cohort.StartDateUtc | date: 'shortDate' }}
    </div>
    
    <div>
        <div>
        <a mat-raised-button *ngIf="studentProfile.GitHub; else githubblock" href="https://{{studentProfile.GitHub}}">GitHub</a>
        <ng-template #githubblock>
            <a mat-raised-button color="warn">Add your Github!</a>
        </ng-template></div>
        <br>
        <div>
        <a mat-raised-button *ngIf="studentProfile.ResumeLink; else resumeblock" href="https://{{studentProfile.ResumeLink}}">Resume</a>
        <ng-template #resumeblock>
            <a mat-raised-button color="warn">Add link to your resume (Google Docs, please)!</a>
        </ng-template></div>
        <br>
        <div>
        <a mat-raised-button *ngIf="studentProfile.PortfolioLink; else portfolioblock" href="https://{{studentProfile.PortfolioLink}}">Portfolio</a>
        <ng-template #portfolioblock>
            <a mat-raised-button color="warn">Add a portfolio!</a>
        </ng-template></div>
        <br>
        <div>
        <a mat-raised-button *ngIf="studentProfile.LinkedInLink; else linkedinblock" href="https://{{studentProfile.LinkedInLink}}">LinkedIn</a>
        <ng-template #linkedinblock>
            <a mat-raised-button color="warn">Add a LinkedIn profile!</a>
        </ng-template></div>
        <br>
        <div>
        <a mat-raised-button color="accent" *ngIf="studentProfile.StudentId" routerLink="/student/edit/{{studentProfile.StudentId}}" color="accent">Edit Profile</a>
        </div>
        <br>
        <div>
        <a mat-raised-button color="primary" routerLink="/student/application/index/" >Browse Your Applications</a>
        </div>
</div>

<ng-template #elseblock>
    <a mat-raised-button color="warn" routerLink="../create">Create a Profile!</a>
</ng-template>