<h1>Delete a Cohort</h1>  
<h4>Are you sure you want to delete this cohort?</h4>
<hr />

<div *ngIf="cohort">
    <div>
        <label for="">Id: </label>
        <span>{{cohort.Id}}</span>
    </div>
    <div>
        <label for="">Course: </label>
        <span>{{cohort.Course}}</span>
    </div>
    <div>
        <label for=""> StartDateUtc: </label>
        <span>{{cohort.StartDateUtc}}</span>
    </div>
    <div>
        <label for="">EndDateUtc: </label>
        <span>{{cohort.EndDateUtc}}</span>
    </div>
    <div>
        <label for="">FullTime: </label>
        <span>{{cohort.FullTime}}</span>
    </div>

    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
</div>
<div>
<button mat-raised-button color='primary' routerLink='/cohort'>Back to List</button>
</div>