<div><h1>Create an Application</h1></div>
<hr />

<form (ngSubmit) ="onSubmit()" [formGroup]="applicationForm">
    <div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Date Applied" formControlName="DateCreatedUtc" type="DateCreatedUtc" required />
            </mat-form-field>
        </div>
        <div>
            <div hidden>
            <mat-form-field>
                <input matInput placeholder="DateModifiedUtc" formControlName="DateModifiedUtc" type="DateModifiedUtc" required />
            </mat-form-field>
            </div>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Application Status" formControlName="ApplicationStatus" type="ApplicationStatus" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Company" formControlName="CompanyName" type="CompanyName" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Position" formControlName="PositionName" type="PositionName" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Link to Job" formControlName="JobLink" type="JobLink" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Location of Position" formControlName="JobLocation" type="JobLocation" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Research Done" formControlName="Research" type="Research" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder=" Point of Contact" formControlName="Contacts" type="Contacts" required />
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <input matInput placeholder="Source of Posting" formControlName="SourceOfPosting" type="SourceOfPosting" required />
            </mat-form-field>
        </div>
    </div>
    <div>
    <button mat-raised-button class="nav-btn" color="primary" type="submit">Create Application</button>
    </div>
</form>
<br>
<div>
<a mat-raised-button routerLink="/student/applications/index">Back to List</a>
</div>
