<div *ngIf="studentProfile.FirstName; else elseBlock">
    This is {{studentProfile.FirstName}} {{studentProfile.LastName}}'s dashboard!
</div>
<ng-template #elseBlock>
<div>
    <a href="https://{{studentProfile.GitHub}}">GitHub</a>
    <a href="https://{{studentProfile.ResumeLink}}">Resume</a>
    <a href="https://{{studentProfile.PortfolioLink}}">Portfolio</a>
    <a href="https://{{studentProfile.LinkedInLink}}">LinkedIn</a>
    <a routerLink="/student/edit/{{studentProfile.StudentId}}">Edit Profile</a>
</div>

        <a routerLink="./student/create/{{studentProfile.StudentId}}">Create a Profile</a>
</ng-template>

<a routerLink="/student/applications/index">Browse Your Applications</a>